<%= simple_form_for(@fitment) do |f| %>
  <% if @fitment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fitment.errors.count, "error") %> prohibited this fitment from being saved:</h2>

      <ul>
      <% @fitment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :make %>
    <%= f.input :year %>
    <%= f.input :model %>
    <%= f.input :engine %>
    <%= f.association :dtcs %>

    <%= f.submit %>

<% end %>
