<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @capstone.index %>
</p>

<p>
  <strong>Number:</strong>
  <%= @capstone.number %>
</p>

<%= link_to 'Edit', edit_capstone_path(@capstone) %> |
<%= link_to 'Back', capstones_path %>
