<p id="notice"><%= notice %></p>

<p>
  <strong>Miner:</strong>
  <%= @index.miner %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @index.mode %>
</p>

<p>
  <strong>Make:</strong>
  <%= @index.make %>
</p>

<p>
  <strong>Year:</strong>
  <%= @index.year %>
</p>

<p>
  <strong>Model:</strong>
  <%= @index.model %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @index.engine %>
</p>

<p>
  <strong>System:</strong>
  <%= @index.system %>
</p>

<p>
  <strong>Dtc:</strong>
  <%= @index.dtc %>
</p>

<%= link_to 'Edit', edit_index_path(@index) %> |
<%= link_to 'Back', indices_path %>
